{{ define "main" }}
  <div class='mx-auto flex {{ partial "utils/page-width" . }}'>
    <aside style="width:20%" class="sponsor-container flex flex-col print:hidden md:top-16 md:shrink-0 md:w-64 md:self-start md:sticky max-md:[transform:translate3d(0,-100%,0)]" >
      <br/>
      <figure style="text-align: center;width:100%;"><img src="/logo/NSF.webp" alt="NSF logo" />
      <figurecaption style="text-align: center;width:100%;">This material is based upon work supported by the National Science Foundation (NSF) CSSI program under award No. <b>OAC-2310582</b></figurecaption>
      </figure>

    </aside>
    {{ partial "toc.html" . }}
    <article class="w-full break-words flex min-h-[calc(100vh-var(--navbar-height))] min-w-0 justify-center pb-8 pr-[calc(env(safe-area-inset-right)-1.5rem)]">
      <main class="w-full min-w-0 max-w-6xl px-6 pt-4 md:px-12">
        {{ partial "breadcrumb.html" . }}
        <div class="content">
          <h1>{{ .Title }}</h1>
          {{ .Content }}
        </div>
        {{ partial "components/last-updated.html" . }}
        {{ partial "components/pager.html" . }}
        {{ partial "components/comments.html" . }}
      </main>
    </article>
  </div>
{{ end }}
